@using LearningASP.Models;
@model List<OrderViewModel>

@{
    ViewBag.Title = "Index";
}

    <div class="container">

        <div class="row ">
            <div class="col-md-12">
                <h2>
                    All Orders<a class="pull-right" href="@Url.Action("Create","Order")"><span class=" btn btn-sm btn-primary">Add Order</span></a>
                </h2>
                <table class="table">
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th>
                           Order Date
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            TotalPrice
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Item Details
                        </th>
                        <th>Actions</th>
                    </tr>
                    @*To be continued*@
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CustomerName;
                            </td>
                            <td>
                                @item.OrderDate.ToShortDateString();
                            </td>
                            <td>
                                @item.Quantity;
                            </td>
                            <td>
                                @item.TotalPrice;
                            </td>
                            <td>
                                @item.Description;
                            </td>
                            <td>
                                @{
                                    if (item.Status == "Delievered")
                                    {
                                        <span class="label label-success">@item.Status;</span>
                                    }
                                    else if (item.Status == "Pending")
                                    {
                                        <span class="label label-warning">@item.Status;</span>
                                    }
                                    else if (item.Status == "Cancelled")
                                    {
                                        <span class="label label-danger">@item.Status;</span>
                                    }
                                    else
                                    {
                                        <span class="label label-default">@item.Status;</span>
                                    }
                                }

                            </td>
                            <td>
                                <a class="btn btn-sm btn-info" href="@Url.Action("OrderDetail","Order")">Item Details</a>
                            </td>

                            <td>
                                <a href="@Url.Action("Edit","Order", new { id = item.OrderID }))">Edit</a>
                                <a href="@Url.Action("Delete","Order", new { id = item.OrderID }))">Delete</a>

                            </td>
                        </tr>
                    }

                </table>
                </div>
            </div>
        </div>
