@model LearningASP.Models.OrderViewModel

@{
    ViewBag.Title = "Order Info";
}
@section Styles{
    <style>
        label {
           color:#95a5a6;
        }
        h2{
            color: #2c3e50;
        }
        </style>
    }
<h2>Order Information!</h2>

<div>
    <hr />
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <label>Customer ID</label>
                    <h2>@Model.CustomerID</h2>
                </div>
                <div class="col-md-6">
                    <label>Customer Name</label>
                    <h2>@Model.CustomerName</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Total Price</label>
                    <h2>@Model.TotalPrice</h2>
                </div>
                <div class="col-md-6">
                    <label>Quantity</label>
                    <h2>@Model.Quantity</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Order Date</label>
                    <h2>@Model.OrderDate.ToShortDateString()</h2>
                </div>
                <div class="col-md-6">
                    <label>Status</label>
                    <h2>@Model.Status</h2>
                </div>
            </div>
            @if (Model.Description != "" && Model.Description!=null)
            {
                <div class="row">
                    <div class="col-md-12">
                        <label>Description</label>
                        <h2>@Model.Description</h2>
                    </div>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <tr>
                        <th>No.</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                    </tr>
                    @{
                        var count = 1;
                    }
                    @foreach (var item in Model.SelectedItems)
                    {
                <tr>
                    <td>@count</td>
                    <td>@item.ItemName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    @{
                        var subt = item.Quantity * item.Price;
                        count++;
                    }
                    <td>@subt</td>
                </tr>
  }

                </table>
                <a class="btn btn-sm btn-success" href="#">Print</a>
                <a class="btn btn-sm btn-primary" href="@Url.Action("Index","Order")">Back</a>
            </div>
        </div>
    </div>
</div>

