@using LearningASP.DataServices;
@model List<Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>
                Items<a class="pull-right" href="@Url.Action("Create","Item")"><span class=" btn btn-sm btn-primary">Add New Item</span></a>
            </h2>
            <div class="table ">
                <table class="table table-responsive" id="table-full">
                    <thead>
                        <tr>
                            <th>ItemName</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (Item item in Model)
                        {
                            <tr>
                                <td>@item.ItemName</td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                                <td>@item.Description</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="@Url.Action("Edit","Item",new {@id=item.ItemID})"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-sm btn-danger btn-del " data-id="@item.ItemID" href="javascript:;"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                        }
                    </thead>
                </table>

            </div>

        </div>

    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>

        $('.btn-del').on('click', function () {
            var ItemId = $(this).attr('data-id');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    var jqHelp = $.ajax({
                        type: "GET",
                        URL: "/Item/Delete/" + ItemId
                    }).done(function () {
                        window.location.replace('/Item/Delete/' + ItemId);
                    });

                }
            });
        });
    </script>
}

